/**
 * Created by warlock on 14.09.15.
 */

html, body{
  // font-size: 0.9rem;
}

.ui .form .actions a{
  margin-left: 20px;
}

.main__container {
    margin-left: 175px;
    padding: 2em 2em 7em;
}

.nav__logo-position {
    margin-top: -10px !important;
}